@using PagedList.Mvc;
@using PagedList;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

<style>
    .subject-icon {
        width: 3%;
    }

    .subject-content {
        width: 70%;
    }

    .subject-stats {
        width: 12%;
    }

    .subject-recent {
        width: 15%;
    }

    .subject-title {
        margin-bottom: 0;
    }
</style>

@{
    ViewBag.Title = "Show";
    var category = ViewBag.Category;
}

<div class="container main-container">
    <div class="sections">
        <div class="row">
            <table class="section-table" border="1">
                <caption>
                    <ul class="collapsed-list">
                        <li style="float: left;">@category.Name</li>
                        <li style="float: right;"><a href="/Subjects/New/@category.CategoryId">Add a new subject</a></li>
                    </ul>
                </caption>
                <tbody>
                    @foreach (var subject in category.Subjects)
                    {
                        <tr class="subject">
                            <td class="subject-icon text-center"><img src="https://forum.softpedia.com//public/style_images/classic/f_icon_read.png"></td>
                            <td class="subject-content">
                                <p class="subject-title"><a href="/Subjects/Show/@subject.SubjectId">@subject.Title</a></p>
                            </td>
                            <td class="subject-stats">
                                <ul class="list-no-style">
                                    <li>@subject.Replies.Count replies</li>
                                    <li>@subject.NumberOfViews views</li>
                                </ul>
                            </td>
                            <td class="subject-recent">
                                <ul class="list-no-style">
                                    <li><a href="#">@subject.User.UserName</a></li>
                                    <li>@subject.Data</li>
                                </ul>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="col-sm-12">
                @Html.PagedListPager((IPagedList)ViewBag.Subjects, page => Url.Action("Show", "Categories", new { id = category.CategoryId, page }))
                Showing @ViewBag.Subjects.FirstItemOnPage to @ViewBag.Subjects.LastItemOnPage of @ViewBag.Subjects.TotalItemCount subjects
            </div>
        </div>
    </div>
</div>